@font-face {
    font-family: Pixeleris;
    src: url(/font/Pixeleris.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: px solid gold;
}

#game {

    display: flex;
    justify-content: center;

}

#c {

    /*background-image: url("/sprites/BG.png");*/
    background-color: black;
}